.container {
    width: 100%;
    margin: 5% auto 0;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 30% 20%;
    align-items: center;
    justify-items: center;
    grid-gap: 0.5rem;

    grid-template-areas: 
        "clock"
        "date"
        "week";
}

.clock{ 
    align-self: center;
    grid-area: clock;

    background-color: #FFF;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem;
}

.date {
    align-self: center;
    margin-top: 0.5rem;
    font-size: 2rem;
    grid-area: date;
}

.week {
    align-self: center;
    grid-area: week;
}