.containerNetwork {
    width: 100%;
    margin: 0 auto 5%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    /* align-items: center;
    justify-items: center; */
    grid-gap: 0.5rem;

    grid-template-areas: 
        "ip"
}

.ip {
    grid-area: ip;
    align-self: center;
    justify-self: center;
}

.ip p {
    margin-top: 0.5rem;
    text-align: center;

    background-color: #FFF;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}


