.containerMemory {
    width: 100%;
    margin: 0 auto 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    /* align-items: center;
    justify-items: center; */
    grid-gap: 0.5rem;

    grid-template-areas: 
        "bar percents";
}

.bar {
    grid-area: bar;
    max-width: 100%;
    padding: 0.5rem 0rem 1rem 1rem;
}

.percents {
    grid-area: percents;
    max-width: 100%;
    padding: 0.5rem 1rem 1rem 0rem;
}